<button class="btn btn-sm btn-outline-secondary position-absolute top-2 start-0 mt-3 ms-3" (click)="back()" style="box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);">
  Page précédente
</button>
<div class="div1" style="min-height: calc(100vh - 200px); padding-bottom: 100px;">
  <div class="div1 d-flex align-items-center" style="margin-left: 15%">
    <div class="card mb-3 cardadresse" style="border: none; margin-top: 50px">
      <div class="card-body">
        <h5>MON PANIER</h5>
        <hr>
        RÉCAPITULATIF DE LA COMMANDE
        <br>

      </div>
    </div>
  </div>

  <div class="container my-5" >
    <div class="row">
      <div class="col-md-8">
        <div class="card mb-3" style="box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);">
          <div class="card-body">
            <h5 class="card-title">Mon panier</h5>
            <table class="table">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Produit</th>
                <th scope="col">Prix unitaire</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix total</th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of cartItems; let i = index">
                <th scope="row">{{ i+1 }}</th>
                <td>{{ item.name }}</td>
                <td>{{ item.price }} €</td>
                <td>
                  <div class="d-flex justify-content-center align-items-center">
                    <button class="btn btn-sm btn-outline-secondary me-2" (click)="decrementQuantity(item)"><i class="fa fa-minus"></i></button>
                    <span>{{ item.quantity }}</span>
                    <button class="btn btn-sm btn-outline-secondary ms-2" (click)="incrementQuantity(item)"><i class="fa fa-plus"></i></button>
                  </div>
                </td>
                <td>{{ item.quantity * item.price }} €</td>
                <td><button class="btn btn-sm btn-danger" (click)="removeItem(item)"><i class="fa fa-trash"></i></button></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3" style="box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);">
          <div class="card-body">
            <h5 class="card-title">Résumé de la commande</h5>
            <p>Total : {{ total ? total : 0 }} €</p>
            <div class="text-end"> <!-- Ajout de la classe text-end pour aligner le contenu à droite -->
              <button class="btn btn-outline-success" style="box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);" (click)="placeOrder()">Passer la commande</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
