.card{
  width: 450px;
  height: 400px;
  margin-top: 10%;
  margin-left: 15%;

}
.d-inline-flex{
  margin-left: 18%;
  margin-bottom: 5%;
}

.form-check-label{
  margin-right: 100%;
}
.form1{
  margin-left: 100px;
}
