<button class="btn btn-sm btn-outline-secondary position-absolute top-2 start-0 mt-3 ms-3" (click)="back()" style="box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);">
  Page précédente
</button>
<div class="d-inline-flex">
  <div class="card" (drop)="onFileDropped($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)">
    <div class="card-header">
      <small class="form-text text-muted">Faites glisser le fichier depuis votre appareil ou Téléchargez le fichier à partir d'ici</small>
    </div>
    <div class="card-body">
      <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()" class="mt-3">
        <div class="form-group">
          <div class="custom-file d-flex justify-content-center" (click)="fileInput.click()" (drop)="onFileDropped($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)">
            <img src="/assets/images/upload.png" width="200" height="200" style="cursor: pointer">
            <input type="file" #fileInput hidden (change)="onFileSelected($event)">
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer d-flex justify-content-center">
      <button type="submit" class="btn btn-primary" [disabled]="uploading">Upload</button>
      <div class="progress mt-2" *ngIf="uploading">
        <div class="progress-bar" role="progressbar" [style.width]="progress + '%'" [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <form class="mt-3">
        <div class="">
          <div class="col-lg-6">
            <div class="form-group">
              <div class="custom-file d-flex flex-column">
                <div class="d-flex">
                  <label class="form-check-label" for="couleur">Format:</label>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="format" id="a4" value="a4" checked>
                    <label class="form-check-label" for="a4">A4</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="format" id="a3" value="a3">
                    <label class="form-check-label" for="a3">A3</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-8 align-self-center">
                <label class="form-check-label form-check-label-space" for="couleur">Impression couleur</label>
              </div>
              <div class="col-md-4">
                <div class="form-check form-switch">
                  <input class="form-check-input form1" type="checkbox" id="couleur">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 align-self-center">
                <label class="form-check-label form-check-label-space" for="recto-verso">Recto-verso</label>
              </div>
              <div class="col-md-4">
                <div class="form-check form-switch">
                  <input class="form-check-input form1"  type="checkbox" id="recto-verso">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="form-check-label" for="tirage">Tirage</label>
              <div class="input-group">
                <button type="button" class="btn btn-outline-secondary" id="minus-btn"><i class="fas fa-minus"></i></button>
                <input type="text" class="form-control" id="tirage" value="1">
                <button type="button" class="btn btn-outline-secondary" id="plus-btn"><i class="fas fa-plus"></i></button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>



</div>


