<div class="row login-container" style="border: 1px; padding: 2px">
  <div class="alert alert-danger" role="alert" *ngIf="errorMessages.length">
    <p *ngFor="let msg of errorMessages">{{msg}}</p>
  </div>
  <div class="card col-sm-4 offset-sm-1" style="background-color: #F9F9FF">
    <h3 class="text-center">Reset Password</h3>
    <hr>
    <div class="mb-3">
      <label for="email" class="form-label">Adresse mail</label>
      <input  [(ngModel)]="newPassword.email"  type="email" class="form-control" id="email" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <input  [(ngModel)]="newPassword.tokenPassword"  type="hidden" class="form-control" id="tokenpassword" placeholder="token password">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">New Password</label>
      <input  [(ngModel)]="newPassword.password"  type="text" class="form-control" id="password" placeholder="*******">
    </div>
    <button (click)="resetPassword()" type="button" class="btn" style="background-color: #DE8500" >
      &nbsp;Envoyer
    </button>

  </div>
</div>
