<div class="row login-container justify-content-center" style="border: 1px; padding: 2px; margin-bottom: 220px">
  <div class="alert alert-danger" role="alert" *ngIf="errorMessages.length">
    <p *ngFor="let msg of errorMessages">{{msg}}</p>

  </div>
  <div class="card col-sm-4 offset-sm-1" style="background-color: #F9F9FF">
    <h3 class="text-center">Reset Password</h3>
    <hr>
    <div class="mb-3">
      <label for="email" class="form-label">Adresse mail</label>
      <input [(ngModel)]="newPassword.email" type="email" class="form-control" id="email"
             placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <input [(ngModel)]="newPassword.tokenPassword" type="hidden" readonly class="form-control" id="tokenpassword" placeholder="token password">
    </div>
    <div class="mb-3">
      <div class="mb-3">
        <label for="password" class="form-label">New Password</label>
        <div class="input-group">
          <input [(ngModel)]="newPassword.password" type="password" class="form-control" id="password" placeholder="*******" [type]="showPassword ? 'password' : 'text'">
          <span class="input-group-text">
      <i class="fa" (click)="toggleShowPasswordNewPassword()" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
    </span>
        </div>
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm New Password</label>
        <div class="input-group">
          <input [(ngModel)]="confirmPassword" type="password" class="form-control" id="confirmPassword"[type]="showPassword ? 'password' : 'text'" placeholder="*******">
          <button class="btn btn-outline-secondary" type="button" (click)="showPassword = !showPassword">
            <span class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></span>
          </button>
        </div>
      </div>

      <button (click)="resetPassword()" type="button" class="btn btn-outline-success" style="margin-bottom: 5px">
        &nbsp;Envoyer
      </button>
    </div>
  </div>
