<div class="p-3">
  <h2>My profile</h2>
  <div class="alert alert-success" role="alert" *ngIf="successMsg">
    <p>{{successMsg}}</p>
  </div>
  <div class="d-flex flex-row justify-content-between">
    <div class="card p-3 col-6 me-1">
      <h3>User info</h3>
      <div class="mb-3">
        <input [ngModel]="userDto.id" type="text" hidden="hidden" class="form-control" id="id" placeholder="id">
      </div>
      <div class="mb-3">
        <label for="firstname" class="form-label">FirstName</label>
        <input [(ngModel)]="userDto.firstName" type="email" class="form-control" id="firstname" placeholder="firstname">
      </div>
      <div class="mb-3">
        <label for="lastname" class="form-label">LastName</label>
        <input [(ngModel)]="userDto.lastName" type="email" class="form-control" id="lastname" placeholder="lastname">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input [(ngModel)]="userDto.email" type="email" disabled class="form-control" id="email" placeholder="mail@email.com">
      </div>
      <div class="d-flex justify-content-end mt-3">
        <button (click)="cancel()" type="button" class="btn btn-link">
          <em class="fas fa-times"></em>&nbsp;Back
        </button>
        <button (click)="save()" type="button" class="btn btn-danger">
          <em class="fas fa-save"></em>&nbsp;Save
        </button>
      </div>
    </div>

  </div>

</div>


