<div class="container d-flex justify-content-center">
  <div class="row login-container" style="border: 1px">
    <div class="card col-sm-4 offset-sm-1" style="background-color: #F9F9FF">
      <h3 class="text-center">Email</h3>
      <hr>
      <div class="alert alert-danger" role="alert" *ngIf="errorMessages.length">
        <p *ngFor="let msg of errorMessages">{{msg}}</p>
      </div>
      <div class="mb-3">
        <label for="login" class="form-label">Adresse mail</label>
        <input [(ngModel)]="resetPasssword.email"  type="email" class="form-control" id="login" placeholder="name@example.com">
      </div>
      <div class="d-flex justify-content-center mb-3">
        <button (click)="forgotPassword()"  type="button" class="btn" style="background-color: #007bff; color: #fff;">
          <em class="fas">&nbsp;Envoyer</em>
        </button>
      </div>
    </div>
  </div>
</div>
