<div class="container" style="margin-top: 10%">
  <div class="row justify-content-center align-items-start align-content-start">
    <div class="col-md-5 col-lg-4 offset-md-1 card bg-light p-3 shadow-sm mb-3">
      <h3 class="text-center">Se connecter</h3>
      <hr>
      <div class="alert alert-danger" role="alert" *ngIf="errorMessage.length">
        <p *ngFor="let msg of errorMessage">{{msg}}</p>
      </div>
      <div class="form-group">
        <label for="login" class="form-label">Adresse mail</label>
        <input [(ngModel)]="authRequest.email" type="email" class="form-control" autocomplete="username" id="login" placeholder="name@example.com">
      </div>
      <div class="input-group">
        <input type="{{showPassword ? 'text' : 'password'}}" class="form-control" id="password"
               [(ngModel)]="authRequest.password" name="password" required>
        <div class="input-group-append">
    <span class="input-group-text">
      <i class="fa" (click)="toggleShowPasswordLogin()" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
    </span>
        </div>
      </div>

      <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="rememberMe" [(ngModel)]="rememberMe">
        <label class="form-check-label" for="rememberMe">Se souvenir de moi</label>
      </div>
      <div class="d-flex justify-content-center mb-3">
        <button (click)="login()" type="button" class="btn btn-primary" style="background-color: #4CAF50; border-color: #4CAF50;">
          <em>&nbsp;Connecter</em>
        </button>
      </div>
      <p class="btn-link text-center" style="cursor: pointer" routerLink="/forgot-password">Mot de passe oublié ?</p>
    </div>


    <div class="col-md-1 d-flex align-items-center justify-content-center">
      <div class="vertical-separator"></div>
    </div>
    <div class="col-md-5 col-lg-4 card bg-light p-3 shadow-sm mb-3">
      <h3 class="text-center">Créer un Compte</h3>
      <hr>
      <div class="alert alert-danger" role="alert" *ngIf="errorMessages.length">
        <p *ngFor="let msg of errorMessages">{{msg}}</p>
      </div>
      <div class="form-group">
        <label for="nom" class="form-label">nom</label>
        <input [(ngModel)]="userDto.nom" type="text" class="form-control" id="nom" placeholder="joe">
      </div>
      <div class="form-group">
        <label for="prenom" class="form-label">Prénom</label>
        <input [(ngModel)]="userDto.prenom" type="text" class="form-control" id="prenom" placeholder="doe">
      </div>
      <div class="form-group">
        <label for="register" class="form-label">Adresse mail</label>
        <input [(ngModel)]="userDto.email" type="text" class="form-control" id="register" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="tel" class="form-label">Télephone</label>
        <input [(ngModel)]="userDto.telephone" type="tel" class="form-control" id="tel" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="motdepasseRegister" class="form-label">Mot de passe</label>
        <div class="input-group">
          <input [(ngModel)]="userDto.password" class="form-control" id="motdepasseRegister" placeholder="mot de passe" [type]="showPassword ? 'password' : 'text'">
          <div class="input-group-append">
           <span class="input-group-text">
      <i class="fa" (click)="toggleShowPasswordRegister()" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end mb-3 ">
        <button (click)="register()" type="button" class="btn btn-primary">
          Confirmer
        </button>
      </div>
    </div>
  </div>
</div>

