<div class="container" style="margin-top: 5%; justify-content: center">
  <div class="card mb-3 cardadresse">
    <div class="card-body">
      <h5>Ajouter une nouvelle adresse</h5>
      <hr>
      Pour ajouter une nouvelle adresse, merci de remplir ce formulaire.      <br>
      Vos adresses sont listées ci-dessous.
      <br>
      <br>
      <p style="color: lightcoral">* Champ requis</p>
    </div>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
  <div class="container p-3">
    <h2>Ajouter une nouvelle adresse</h2>
    <div class="alert alert-success" role="alert" *ngIf="successMsg">
      <p>{{successMsg}}</p>
    </div>

    <form >
      <div class="d-flex flex-row justify-content-between">
        <div class="card p-3 col-6 me-1">
          <h3>Info adresse :</h3>
          <div class="form-group">
            <label for="rue">* Rue</label>
            <input type="text" class="form-control" id="rue" [(ngModel)]="adresse.rue" name="rue"[ngClass]="{'is-invalid': !adresse.rue}"  required>
          </div>
          <div class="form-group">
            <label for="complemnt">Complement</label>
            <input type="text" class="form-control" id="complemnt" [(ngModel)]="adresse.complement" name="complemnt" >
          </div>
          <div class="form-group">
            <label for="codePostal">* Code postal</label>
            <input type="text" class="form-control" id="codePostal" [(ngModel)]="adresse.codePostal" name="codePostal" [ngClass]="{'is-invalid': !adresse.codePostal}"  required>
          </div>
          <div class="mb-3">
            <label for="ville" class="form-label">* Ville</label>
            <input type="text" class="form-control" id="ville" [(ngModel)]="adresse.ville" name="ville"[ngClass]="{'is-invalid': !adresse.ville}"  required>
          </div>
          <div class="form-group">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>*Type d'adresse</mat-label>
              <mat-select [(ngModel)]="adresse.typeAdresse" id="typeAdresse" name="typeAdresse" required>
                <mat-option *ngFor="let type of typesAdresses" [value]="type">{{type.nom}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="d-flex justify-content-end mt-3">
            <button type="button" class="btn btn-outline-secondary me-auto" (click)="cancel()"  style="box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);">
              <i class="fas fa-times"></i> Cancel
            </button>

            <button (click)="addAdresse()" type="submit" class="btn btn-outline-success"  style="box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);">
              <em class="fas fa-save"></em>&nbsp;Save
            </button>
          </div>
        </div>

      </div>
    </form>


  </div>
</div>
